$white: #fff;
$text-main: #1f2937;
$base-color: #00008b;
$modal-background: rgba(0, 0, 0, 0.8);
$indigo-50: #eef2ff;
$indigo-100: #e0e7ff;
$indigo-200: #c7d2fe;
$indigo-500: #6366f1;
$indigo-400: #818cf8;
$indigo-600: #4f46e5;
$indigo-700: #564fe8;
$indigo-800: #3730a3;
$ring-indigo-500: #6d28d9;
$indigo-800: #3730a3;
$grey-900: #111827;
$grey-800: #1f2937;
$grey-700: #374151;
$grey-600: #4b5563;
$grey-500: #6b7280;
$grey-300: #d1d5db;
$grey-400: #9ca3af;
$grey-300: #d1d5db;
$grey-200: #e5e7eb;
$grey-100: #f3f4f6;
$grey-50: #f9fafb;
$red-50: #fef2f2;
$red-100: #fee2e2;
$red-retry: #ff0000;
$red-500: #ef4444;
$red-600: #dc2626;
$red-800: #991b1b;
$green-50: #ecfdf5;
$green-100: #d1fae5;
$green-500: #10b981;
$green-600: #059669;
$green-700: #047857;
$green-800: #065f46;
$blue-50: #eff6ff;
$blue-100: #dbeafe;
$blue-800: #1e40af;
$yellow-100: #fef3c7;
$yellow-300: #fcd34d;
$yellow-500: #f59e0b;
$yellow-800: #92400e;
$yellow-900: #78350f;
$purple-100: #ede9fe;
$purple-800: #5b21b6;
$pink-100: #fce7f3;
$pink-800: #9d174d;
$purple-700: #6d28d9;
$cyan-50: #ecfeff;
$cyan-100: #cffafe;
