$white: #fff;
$text-main: #1f2937;
$base-color: #00008b;
$modal-background: rgba(0, 0, 0, 0.8);
$green-50: #ecfdf5;
$green-100: #d1fae5;
$green-500: #10b981;
$green-600: #059669;
$green-700: #047857;
$green-800: #065f46;
$yellow-100: #fef3c7;
$yellow-300: #fcd34d;
$yellow-500: #f59e0b;
$yellow-800: #92400e;
$yellow-900: #78350f;
