.input_container {
  position: relative;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(#335169, #020a13, #335169);
  border-radius: 10px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 100%;
    top: 0;
    z-index: 1;
    background: linear-gradient(#335169, #020a13, #335169);
  }

  &::before {
    right: -35px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  &::after {
    left: -35px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }

  input {
    background-color: transparent;
    text-align: center;
    outline: none;
    width: calc(100% - 30px);
    z-index: 2;
    position: relative;
    border: none;
    color: white;
  }
}
