@import "../../styles/variables";

.container {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  &_modal {
    width: 60vw;
    padding: 4rem 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_questions {
      p {
        color: $white;
        font-size: 2rem;
      }
    }
    &_action {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      &_single {
        margin: 1rem 0;
      }
    }
    &_answer {
      margin: 2rem;
      display: flex;
      justify-content: center;
      gap: 10rem;
    }
  }
}
