.App-link {
  color: #61dafb;
}

.app {
  height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .app {
    padding: 2rem;
  }
}
.background {
  background-image: url("./assets/images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
