@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/Inter-Regular.ttf),
    url(./assets/fonts/Inter-Bold.ttf), url(./assets//fonts/Inter-Medium.ttf),
    url(./assets/fonts/Inter-SemiBold.ttf);
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #00008b; */
  /* background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.1),
      transparent 70%
    ),
    radial-gradient(circle at bottom left, #350066, transparent 60%),
    radial-gradient(circle at top right, #000060, transparent 70%); */
  /* background-image: url("./assets/images/logo.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #040d15; /* Fallback dark blue */
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
